<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.prod.mapper.MemberMapper">
<!-- id:메소드 이름 resultType:반환되는 타입 위치도 함께 작성 -->
  <select id="getMembers" resultType="co.prod.vo.MemberVO">
    select * from members order by id desc
  </select>
  
  <select id="login" parameterType="co.prod.vo.MemberVO" resultType="co.prod.vo.MemberVO">
    select * from members where id=#{id} and passwd = #{passwd}
  </select>
  
  <delete id="deleteMember" parameterType="string">
    delete from members where id = #{id}
  </delete>
  
  <insert id="insertMember" parameterType="co.prod.vo.MemberVO">
    insert into members (id, name, passwd, mail, auth)
    values(#{id}, #{name}, #{passwd}, #{mail}, #{auth})
  </insert>
  
  <!-- members 리스트 출력 -->
  <select id="membersList" resultType="MembersVO">
    select * from members
  </select>
  
  <insert id="insertMembers" parameterType="MembersVO">
    insert into members
    values (#{memberId}, #{memberName}, #{memberAddr}, #{memberTel}, #{memberPw})
  </insert>
  
   <update id="deleteMembers" parameterType="MembersVO">
  <!-- opne에 delete from members를 where 앞에 넣어도 됨 -->
  delete from members
    <foreach collection="list" item="item" open=" where member_id in(" close=")" separator=",">
	  #{item.memberId}
	  </foreach>
  </update>
  
  <update id="deleteMembersAry" parameterType="String">
  <!-- opne에 delete from members를 where 앞에 넣어도 됨 -->
  delete from members
    <foreach collection="array" item="member" open=" where member_id in(" close=")" separator=",">
	  #{member}
	  </foreach>
  </update>
  
  <select id="selectEmployees" resultType="co.prod.vo.EmpVO">
    select * from employees order by employee_id
  </select>
  
  <insert id="insertEmployee" parameterType="co.prod.vo.EmpVO">
  	<selectKey keyProperty="employeeId" resultType="int" order="BEFORE">
        select employees_seq.nextval from dual
     </selectKey>
     insert into employees (employee_id, first_name, last_name, email, job_id, hire_date, salary)
     values (#{employeeId}, #{firstName}, #{lastName}, #{email}, 'IT_PROG', #{hireDate}, #{salary})
  </insert>
  
  <delete id="delteEmployee" parameterType="int">
  	delete employees where employee_id=#{employeeId}
  </delete>

</mapper>