<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <select name = "left" multiple style = "height:100px;">
    <option value ="">item1</option>
    <option value ="">item2</option>
    <option value ="">item3</option>
    <option value ="">item4</option>
    <option value ="">item5</option>

</select>

<button>+</button>
<button>-</button>

    <select name = "right" multiple style = "height:100px;">
    <option value ="">item7</option>
    <option value ="">item8</option>
    <option value ="">item9</option>
    <option value ="">item10</option>
    <option value ="">item11</option>

</select>

</body>
</html>